@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-honeycomb {
    position: relative;
    background-image: url('/patterns/honeycomb_pattern_dark.svg');
    @apply bg-repeat;
  }

  .bg-honeycomb::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/patterns/honeycomb_pattern_light.svg');
    @apply bg-repeat;
    opacity: 0;
    transition: opacity 150ms ease;
    z-index: -1;
    pointer-events: none;
  }

  .bg-honeycomb:hover::before {
    opacity: 1;
    z-index: 1;
  }
}
